* {
  box-sizing: border-box;
  color: inherit;
  font-family: var(--primary-font);
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary-font: "Rubik", sans-serif;
  --menu-color: #4a4a4a;
  --back-color: #3cdbc0;
  --text-color: #ffffff;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/*HEADER*/

.header-logo {
  width: 155px;
}

.header-logo img {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--text-color);
  top: 0px;
  z-index: 1;
}

.header .wrapper {
  width: 100%;
  max-width: 1200;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu .list {
  display: inline-block;
  font-size: 16px;
  color: var(--menu-color);
  font-weight: 4000;
  margin: 15px;
}

.menu .list a {
  text-transform: uppercase;
  padding: 15px;
}

/*MAIN*/

.main {
  background-color: var(--back-color);
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
}

.title {
  margin: 0 px;
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 30px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 25%;
  max-width: 1200px;
}

.main .span {
  display: inline-block;
}

/* MEDIAQUERIES*/

@media all and (min-width: 768px) {
  .header .wrapper {
    flex-direction: row;
  }

  .title {
    font-size: 40px;
  }

  .header-logo {
    padding-left: 30px;
  }
}
